Remote/node-red-flow.json
[{"id":"81562874.e476c8","type":"tab","label":"Remote Flow","disabled":false,"info":""},{"id":"6e7ec566.788dcc","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"d75ef890.40aaf8","type":"ui_group","z":"","name":"Default","tab":"6e7ec566.788dcc","disp":true,"width":"6"},{"id":"7903785c.5a4b08","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"temp","tz":""},{"id":"8e42f20f.00317","type":"udp in","z":"81562874.e476c8","name":"","iface":"","port":"5000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":100,"y":640,"wires":[["75818e9c.d2183","abdf131f.c2de1","299b8d59.22e742"]]},{"id":"cc599079.670b5","type":"ui_gauge","z":"81562874.e476c8","name":"","group":"d75ef890.40aaf8","order":0,"width":"6","height":"5","gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"12","colors":["#00b500","#e6e600","#ca3838"],"seg1":"8","seg2":"10","x":730,"y":640,"wires":[]},{"id":"593d0ece.dc699","type":"trigger","z":"81562874.e476c8","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"400","extend":true,"units":"ms","reset":"","name":"","x":540,"y":640,"wires":[["cc599079.670b5"]]},{"id":"5edc3dc3.84f6d4","type":"mysql","z":"81562874.e476c8","mydb":"7903785c.5a4b08","name":"","x":510,"y":720,"wires":[[]]},{"id":"75818e9c.d2183","type":"function","z":"81562874.e476c8","name":"Create Query","func":"var res = msg.payload.split(\"-\");\nmsg.topic = 'INSERT INTO water (arduino,cold_value,warm_value) VALUES (' + res[0] + ',' + res[1] + ',' + res[2] + ')'\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":720,"wires":[["5edc3dc3.84f6d4"]]},{"id":"abdf131f.c2de1","type":"function","z":"81562874.e476c8","name":"Parse Data","func":"var res = msg.payload.split(\"-\");\nmsg.payload = res[1];\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":640,"wires":[["593d0ece.dc699"]]},{"id":"e731ea0f.a68a28","type":"change","z":"81562874.e476c8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.Access-Control-Allow-Origin","pt":"msg","to":"*","tot":"str"},{"t":"set","p":"headers.Access-Control-Allow-Methods","pt":"msg","to":"POST, GET, OPTIONS,PUT, PATCH, DELETE","tot":"str"},{"t":"set","p":"headers.Access-Control-Allow-Credentials","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":880,"wires":[["4c096a12.68c214"]]},{"id":"4c096a12.68c214","type":"http response","z":"81562874.e476c8","name":"","statusCode":"","headers":{},"x":1090,"y":880,"wires":[]},{"id":"5a9a99fa.9b1bf8","type":"http in","z":"81562874.e476c8","name":"","url":"/daily","method":"get","upload":false,"swaggerDoc":"","x":100,"y":880,"wires":[["41ba6753.0d9328"]]},{"id":"6aed6d61.5c4a04","type":"function","z":"81562874.e476c8","name":"Generate JSON","func":"var conta = 0;\nvar daret = [];\nfor (var i = 0; i<53;i++){\n    var dato = msg.payload[conta];\n    if (conta < msg.payload.length && dato.WEEK_OF_YEAR == i){\n        daret.push({\n            WEEK_OF_YEAR: i,\n            YEAR: 2017,\n            AMOUNT_SUM: dato.AMOUNT_SUM\n        });\n        conta++;\n    } else {\n        daret.push({\n            WEEK_OF_YEAR: i,\n            YEAR: 2017,\n            AMOUNT_SUM: 0\n        });\n    }\n\n    \n}\nmsg.payload = JSON.stringify(daret);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1020,"wires":[["1f5c33e5.793e5c"]]},{"id":"1f5c33e5.793e5c","type":"change","z":"81562874.e476c8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.Access-Control-Allow-Origin","pt":"msg","to":"*","tot":"str"},{"t":"set","p":"headers.Access-Control-Allow-Methods","pt":"msg","to":"POST, GET, OPTIONS,PUT, PATCH, DELETE","tot":"str"},{"t":"set","p":"headers.Access-Control-Allow-Credentials","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1020,"wires":[["eebf2b3e.0ea428"]]},{"id":"72bc3d19.ebf514","type":"http in","z":"81562874.e476c8","name":"","url":"/monthly","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1020,"wires":[["d7e691ff.8c665"]]},{"id":"eebf2b3e.0ea428","type":"http response","z":"81562874.e476c8","name":"","statusCode":"","headers":{},"x":1090,"y":1020,"wires":[]},{"id":"7ff3bbf7.804ad4","type":"http in","z":"81562874.e476c8","name":"","url":"/realtime","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1160,"wires":[["a06bf70.27b5008"]]},{"id":"91f649fa.a730c8","type":"function","z":"81562874.e476c8","name":"Generate JSON","func":"\nvar data; \n\nif (msg.payload.length > 0){\n    data = {QUANTITY : parseFloat(msg.payload[0].cold_value)}\n} else {\n    data = {QUANTITY : 0}\n}\nmsg.payload = JSON.stringify(data);\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1160,"wires":[["950df12e.53cfc"]]},{"id":"950df12e.53cfc","type":"change","z":"81562874.e476c8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.Access-Control-Allow-Origin","pt":"msg","to":"*","tot":"str"},{"t":"set","p":"headers.Access-Control-Allow-Methods","pt":"msg","to":"POST, GET, OPTIONS,PUT, PATCH, DELETE","tot":"str"},{"t":"set","p":"headers.Access-Control-Allow-Credentials","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1160,"wires":[["595bb2e0.f4bd1c"]]},{"id":"595bb2e0.f4bd1c","type":"http response","z":"81562874.e476c8","name":"","statusCode":"","headers":{},"x":1090,"y":1160,"wires":[]},{"id":"41ba6753.0d9328","type":"function","z":"81562874.e476c8","name":"Create Query","func":"\nmsg.topic = 'SELECT ' +\n       'HOUR(datetime) as HOUR_OF_TIME, ' + \n       'SUM(cold_value) as AMOUNT_SUM ' +\n'FROM temp.water '+\n'WHERE cast(datetime as Date) = current_date() AND arduino = 6 '+\n'GROUP BY arduino, HOUR_OF_TIME '+\n'ORDER BY HOUR_OF_TIME asc';\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":880,"wires":[["862af702.8fcca8"]]},{"id":"862af702.8fcca8","type":"mysql","z":"81562874.e476c8","mydb":"7903785c.5a4b08","name":"","x":510,"y":880,"wires":[["45fae0d5.6ab17","6dd8c4e7.b3828c"]]},{"id":"45fae0d5.6ab17","type":"function","z":"81562874.e476c8","name":"Generate JSON","func":"var conta = 0;\nvar daret = [];\nfor (var i = 0; i<24;i++){\n    var dato = msg.payload[conta];\n    if (conta < msg.payload.length && dato.HOUR_OF_TIME == i){\n        daret.push({\n            HOUR_OF_TIME: i,\n            AMOUNT_SUM: dato.AMOUNT_SUM\n        });\n        conta++;\n    } else {\n        daret.push({\n            HOUR_OF_TIME: i,\n            AMOUNT_SUM: 0\n        });\n    }\n\n    \n}\nmsg.payload = JSON.stringify(daret);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":880,"wires":[["e731ea0f.a68a28"]]},{"id":"d7e691ff.8c665","type":"function","z":"81562874.e476c8","name":"Create Query","func":"msg.topic = 'SELECT WEEK(datetime) as WEEK_OF_YEAR, SUM(cold_value) as AMOUNT_SUM  FROM temp.water WHERE  arduino = 6 and year(datetime) = 2017 GROUP BY WEEK_OF_YEAR ORDER BY WEEK_OF_YEAR asc';\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1020,"wires":[["1a2d742f.4b5c8c"]]},{"id":"1a2d742f.4b5c8c","type":"mysql","z":"81562874.e476c8","mydb":"7903785c.5a4b08","name":"","x":510,"y":1020,"wires":[["6aed6d61.5c4a04","9e0f9755.9051a8"]]},{"id":"a06bf70.27b5008","type":"function","z":"81562874.e476c8","name":"Create Query","func":"msg.topic = 'SELECT cold_value FROM temp.water WHERE  arduino = 6 and timestamp(datetime) > current_timestamp() - 2 ORDER BY datetime  asc LIMIT 1';\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1160,"wires":[["cd415ea.f42e1a"]]},{"id":"cd415ea.f42e1a","type":"mysql","z":"81562874.e476c8","mydb":"7903785c.5a4b08","name":"","x":510,"y":1160,"wires":[["91f649fa.a730c8","658390b4.3611f"]]},{"id":"299b8d59.22e742","type":"debug","z":"81562874.e476c8","name":"","active":false,"console":"false","complete":"false","x":310,"y":800,"wires":[]},{"id":"6dd8c4e7.b3828c","type":"debug","z":"81562874.e476c8","name":"","active":false,"console":"false","complete":"false","x":690,"y":940,"wires":[]},{"id":"9e0f9755.9051a8","type":"debug","z":"81562874.e476c8","name":"","active":false,"console":"false","complete":"false","x":690,"y":1080,"wires":[]},{"id":"658390b4.3611f","type":"debug","z":"81562874.e476c8","name":"","active":false,"console":"false","complete":"false","x":690,"y":1220,"wires":[]}]